---

---

<div class="card__container">
	<div class="card__subcontainer"></div>
</div>

<style>
	.card__container {
		position: relative;
	}

	.card__subcontainer {
		position: absolute;
		width: 100%;
		height: 122px;
		bottom: 0;
		background-color: blue;
	}
</style>
