---
import { Image } from "astro:assets"
import profile from "../images/image-jeremy.png"
---

<div class="container">
	<div class="profile">
		<Image src={profile} alt="" class="profile__image" />
		<div class="profile__section">
			<p class="profile__title">Report for</p>
			<p class="profile__name">Jeremy Robson</p>
		</div>
	</div>
	<div class="date">
		<button class="daily-button">Daily</button>
		<button class="weekly-button">Weekly</button>
		<button class="monthly-button">Monthly</button>
	</div>
</div>
